<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/libraryfragment :: html_head (pageTitle='Authors')" />
	<body>
		<div th:replace="./Layout/libraryfragment :: menu">
		</div>
        <form action="#" th:action="@{/usersbook/save}" th:object="${usersBook}"
            method="post">
            
 			<input type="hidden" th:field="*{UserBookId}" />
 			<input type="hidden" th:field="*{UserId}" />
 			
 			
            <table border="0" cellpadding="10"> 

                <tr>
                    <td>UserBookName:</td>
                    <td><input type="text" th:field="*{UserBookName}" /></td>
                </tr>     
                <tr>
                    <td>UserBookAuthor:</td>
                    <td><input type="text" th:field="*{UserBookAuthor}" /></td>
                </tr>     
                <tr>
                    <td>UserBookPublisher:</td>
                    <td><input type="text" th:field="*{UserBookPublisher}" /></td>
                </tr>           
                <tr>
                    <td>UserAddress:</td>
                    <td><input type="text" th:field="*{UserAddress}" /></td>
                </tr>           
                <tr>
                    <td>UserBookImage:</td>
                    <td><input type="text" th:field="*{UserBookImage}" /></td>
                </tr>                     
                           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
		<div th:replace="./Layout/libraryfragment :: footer">
		</div>		  
	</body>
</html>