<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/userpanelfragment :: html_head (pageTitle='Kullanıcı Kitaplar')" >
			<meta charset="utf-8">
	</head>
	<body onload="ChangeClass();">
		<div th:replace="./Layout/userpanelfragment :: top-side">		
		</div>
		<div th:replace="./Layout/userpanelfragment :: navbar">		
		</div>
		
			<!-- USER BOOK INDEX PAGE-->
			<section class="ftco-section ftco-no-pt">
	    	<div class="container-fluid px-md-4">
	    		<div class="row justify-content-center pb-5 mb-3">
	          <div class="col-md-7 heading-section text-center ftco-animate">
	            <h2>Kullanıcı Kitaplar</h2>
	          </div>
	        </div>
	    		<div class="row" >
	    			<div class="col-md-6 col-lg-4 d-flex" th:each="userBook : ${listUserBooks}">
	    				<div class="book-wrap d-lg-flex">
	    				<!-- th:style="'background-image:url('+ @{${book.photosImagePath}} +');'" -->
	    					<div class="img d-flex justify-content-end" th:style="'background-image:url('+ @{${userBook.UsersBookPhotosImagePath}} +');'"  >
	    						<div class="in-text">
	    					
	    							<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
	    								<span class="flaticon-heart-1"></span>
	    							</a>
	    							<a th:href="@{'/usersbook/details/' + ${userBook.UserBookId}}" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Quick View">
	    								<span class="flaticon-search"></span>
	    							</a>

	    						</div>
	    					</div>
	    					<div th:id="'defination' + ${listUserBooks.indexOf(userBook)}">
	    						<h2><a th:text="${userBook.UserBookName}"></a></h2>
	    						<span class="position" th:text="${userBook.UserBookAuthor}"></span>
	    					</div>
	    				</div>
	    			</div>

	    		</div>
	    	</div>
	    </section>		
	    
		<!-- END -->
		<!--USER BOOK INDEX PAGE-->
		
		
	   	<footer th:replace="./Layout/userpanelfragment :: footer">
	    </footer>
	    <div th:replace="./Layout/userpanelfragment :: loader">
	    </div>			

     	<div th:replace="./Layout/userpanelfragment :: user-script">
     	</div>
		<script th:inline="javascript">
	     	function ChangeClass()
	     	{			
	     	    var bookObject = /*[[${listUserBooks}]]*/ 'default';
	     	    var bookObjectSize = bookObject.length;
     	   		check= false;
	     	   	for (var i = 0; i < bookObjectSize; i++) 
	     	   	{
	     	   		if(check)
	     	   		{
		     	   		defination=document.getElementById("defination"+i).className = "text p-4 order-md-first";	     	   				     	   			
	     	   		}
	     	   		else
	     	   		{
		     	   		defination=document.getElementById("defination"+i).className = "text p-4";	     	   				     	   				     	   			
	     	   		}
	     	   		if(i%3==2)
	     	   		{
	     	   			check=!check;
	     	   		}
	     		}
	     	}
	     	
	    	var message = /*[[${swapSuccessMessage}]]*/ 'default';
			if(message=="Success")
				{
					Swal.fire({
						  position: 'top-end',
						  icon: 'success',
						  title: 'Takas İşleminiz başarıyla gönderildi',
						  showConfirmButton: false,
						  timer: 2000
					});
				}
	    	var message = /*[[${swapFailedMessage}]]*/ 'default';
			if(message=="Failed")
				{
					Swal.fire({
						  position: 'top-end',
						  icon: 'error',
						  title: 'Takas isteği göndermek için kitap ekleyiniz',
						  showConfirmButton: false,
						  timer: 2000
					});
				}			
			
		</script>     	

	</body>
</html>
