<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/userpanelfragment :: html_head (pageTitle='Yazarlar')" />
	<body>
	     <div th:replace="./Layout/userpanelfragment :: search">
     	</div>
		<div class="main-content-wrapper d-flex clearfix">
     		<div th:replace="./Layout/userpanelfragment :: mobile-nav">
     		</div>
     		<div th:replace="./Layout/userpanelfragment :: header-area">
     		</div>		     		
		    <div class="products-catagories-area clearfix">
            	<div class="amado-pro-catagory clearfix" >
            	
	            	<!-- Single Catagory -->
	                <div class="single-products-catagory clearfix" th:each="author : ${listAuthors}">
	                    <a th:href="@{'/authors/details/' + ${author.AuthorId}}">
	                        <img src="/UserPanel/img/bg-img/1.jpg" width="500" height="700" alt="">
	                        <!-- Hover Content -->
	                        <div class="hover-content">
	                            <div class="line"></div>
	                            <h4 th:text="${author.AuthorName}"></h4>	                            
	                        </div>
	                    </a>
	                </div>

            	</div>
	     		<div th:replace="./Layout/userpanelfragment :: row">
	     		</div>	            	
		    </div>			
		</div>
	   	<footer th:replace="./Layout/userpanelfragment :: footer">
	    </footer>			

     	<div th:replace="./Layout/userpanelfragment :: userPanelScript">
	</body>
</html>