<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="html_head (pageTitle)">
		<meta charset="UTF-8">
		<title> [[${pageTitle}]]-
			Library Project
		</title>
	</head>
	<body>
		<div th:fragment="menu">
			<h1>
				Menü kısmı
			</h1>
			<span>
				<a href="/"><h1>Home</h1></a>			
				<a href="/about"><h1>About</h1></a>
				<a href="/contact"><h1>Contact</h1></a>		
			</span>			
		</div>
		<div th:fragment="footer">
			<h1>
				Footer kısmı
			</h1>
		</div>
	</body>
</html>