<html xmlns:th="http://www.thymeleaf.org">

			<div th:fragment="userCss">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/HomeUserPage/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/css/util.css">
	<link rel="stylesheet" type="text/css" href="/HomeUserPage/css/main.css">
<!--===============================================================================================-->

</div>
			<div th:fragment="userJs">
<!--===============================================================================================-->
	<script src="/HomeUserPage/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/HomeUserPage/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/HomeUserPage/vendor/bootstrap/js/popper.js"></script>
	<script src="/HomeUserPage/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/HomeUserPage/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/HomeUserPage/vendor/daterangepicker/moment.min.js"></script>
	<script src="/HomeUserPage/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/HomeUserPage/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/HomeUserPage/js/main.js"></script>
</div>
</html>