<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/libraryfragment :: html_head (pageTitle='Authors')" />
	<body>
		<div th:replace="./Layout/libraryfragment :: menu">
		</div>
		<div align="center">
		    <h1>User List</h1>
		    <a href="/publishers/create">Create New User</a>
		    <br/><br/>
		    <table border="1" cellpadding="10">
		        <thead>
		            <tr>
		                <th>Publisher Id</th>
		                <th>Publisher Name</th>
		                <th>Publisher Contact</th>
		                <th>Publisher Defination</th>
		                
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="publisher : ${listPublishers}">
		                <td th:text="${publisher.PublisherId}"> Publisher Id</td>
		                <td th:text="${publisher.PublisherName}">Publisher Name</td>
		                <td th:text="${publisher.PublisherContact}">Publisher Contact</td>
		                <td th:text="${publisher.PublisherDefination}">Publisher Defination</td>
		                
		                <td>
							<a th:href="@{'/publishers/edit/' + ${publisher.PublisherId}}">Edit</a>                    
							&nbsp;&nbsp;&nbsp;
							<a th:href="@{'/publishers/delete/' + ${publisher.PublisherId}}">Delete</a>                
						</td>
		            </tr>
		        </tbody>
		    </table>
		</div> 
		<div th:replace="./Layout/libraryfragment :: footer">
		</div>		  
	</body>
</html>