<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/libraryfragment :: html_head (pageTitle='Authors')" />
	<body>
		<div th:replace="./Layout/libraryfragment :: menu">
		</div>
		<form action="#" th:action="@{/users/save}" th:object="${user}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>UserName:</td>
                    <td><input type="text" th:field="*{UserName}" /></td>
                </tr>
                <tr>
                    <td>UserSurname:</td>
                    <td><input type="text" th:field="*{UserSurname}" /></td>
                </tr>
               	<tr>
                    <td>UserEmail:</td>
                    <td><input type="text" th:field="*{UserEmail}" /></td>
                </tr>
                <tr>
                    <td>UserPermission:</td>
                    <td><input type="text" th:field="*{UserPermission}" /></td>
                </tr>
                <tr>
                    <td>UserPassword:</td>
                    <td><input type="text" th:field="*{UserPassword}" /></td>
                </tr>                        
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
		</form>
		<div th:replace="./Layout/libraryfragment :: footer">
		</div>		  
	</body>
</html>