<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/libraryfragment :: html_head (pageTitle='Authors')" />
	<body>
		<div th:replace="./Layout/libraryfragment :: menu">
		</div>
		<div align="center">
		    <h1>User List</h1>
		    <a href="/users/create">Create New User</a>
		    <br/><br/>
		    <table border="1" cellpadding="10">
		        <thead>
		            <tr>
		                <th>UserId</th>
		                <th>UserName</th>
		                <th>UserSurname</th>
		                <th>UserEmail</th>
		                <th>UserRegisterDate</th>
		                <th>UserPermission</th>		                		              
		                <th>UserPassword</th>
		                
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="user : ${listUsers}">
		                <td th:text="${user.UserId}"> User Id</td>
		                <td th:text="${user.UserName}">User Name</td>
		                <td th:text="${user.UserSurname}">UserSurname</td>
		                <td th:text="${user.UserEmail}">UserEmail</td>
		                <td th:text="${user.UserRegisterDate}">UserRegisterDate</td>
		                <td th:text="${user.UserPermission}">UserPermission</td>
		                <td th:text="${user.UserPassword}">UserPassword</td>
		                
		                <td>
							<a th:href="@{'/users/edit/' + ${user.UserId}}">Edit</a>                    
							&nbsp;&nbsp;&nbsp;
							<a th:href="@{'/users/delete/' + ${user.UserId}}">Delete</a>                
						</td>
		            </tr>
		        </tbody>
		    </table>
		</div> 
		<div th:replace="./Layout/libraryfragment :: footer">
		</div>		  
	</body>
</html>