<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<head th:replace="./Layout/libraryfragment :: html_head (pageTitle='books')" />
	<body>
		<div th:replace="./Layout/libraryfragment :: menu">
		</div>
		<form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>BookName:</td>
                    <td><input type="text" th:field="*{BookName}" /></td>
                </tr>
                <tr>
                    <td>BookSubName:</td>
                    <td><input type="text" th:field="*{BookSubName}" /></td>
                </tr>
                <tr>
                    <td>BookSeriesName:</td>
                    <td><input type="text" th:field="*{BookSeriesName}" /></td>
                </tr>
                <tr>
                    <td>BookIsbnNo:</td>
                    <td><input type="text" th:field="*{BookIsbnNo}" /></td>
                </tr>
                <tr>
                    <td>BookLanguage:</td>
                    <td><input type="text" th:field="*{BookLanguage}" /></td>
                </tr>
                <tr>
                    <td>BookReleaseDate:</td>
                    <td><input type="text" th:field="*{BookReleaseDate}" /></td>
                </tr>
                <tr>
                    <td>BookDefination:</td>
                    <td><input type="text" th:field="*{BookDefination}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
                <tr>
                    <select  id="AuthorId" th:field="*{AuthorId}">                   
                    </select> 
                </tr>
                <tr>
                    <select  id="PublisherId" th:field="*{PublisherId}">                   
                    </select> 
                </tr>                       
            </table>
		</form>
		<div th:replace="./Layout/libraryfragment :: footer">
		</div>		  
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function () {
	    $.ajax({ 
	      type : "GET",
	       contentType : "application/json",
	       url : "http://localhost:8080/getAuthors",
	       dataType : 'json',
	       success: function (data) { 
	          var html = '';
              var len = data.length;

              for ( var i = 0; i < len; i++) {
                  html += '<option value="' + data[i].authorId + '">' + data[i].authorName + '</option>';
              }
              html += '</option>';

              $('#AuthorId').html(html);
	        }
	    });
	});
	$(document).ready(function () {
	    $.ajax({ 
	      type : "GET",
	       contentType : "application/json",
	       url : "http://localhost:8080/getPublishers",
	       dataType : 'json',
	       success: function (data) { 
	          var html = '';
              var len = data.length;

              for ( var i = 0; i < len; i++) {
                  html += '<option value="' + data[i].publisherId + '">' + data[i].publisherName + '</option>';
              }
              html += '</option>';

              $('#PublisherId').html(html);
	        }
	    });
	});
	
	
</script>

