<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/userpanelfragment :: html_head (pageTitle='Kitaplar')" />
	<body>
		<div th:replace="./Layout/userpanelfragment :: top-side">		
		</div>
		<div th:replace="./Layout/userpanelfragment :: navbar">		
		</div>
		
			<section class="ftco-section ftco-no-pt">
	    	<div class="container-fluid px-md-4">
	    		<div class="row justify-content-center pb-5 mb-3">
	          <div class="col-md-7 heading-section text-center ftco-animate">
	            <h2>Kitaplar</h2>
	          </div>
	        </div>
	    		<div class="row" >
	    			<div class="col-md-6 col-lg-4 d-flex" th:each="book : ${listBooks}">
	    				<div class="book-wrap d-lg-flex">
	    					<div class="img d-flex justify-content-end" th:style="'background-image:url('+ @{${book.photosImagePath}} +');'">
	    						<div class="in-text">
	    							<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to cart">
	    								<span class="flaticon-shopping-cart"></span>
	    							</a>
	    							<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
	    								<span class="flaticon-heart-1"></span>
	    							</a>
	    							<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Quick View">
	    								<span class="flaticon-search"></span>
	    							</a>
	    							<a href="#" class="icon d-flex align-items-center justify-content-center" data-toggle="tooltip" data-placement="left" title="Compare">
	    								<span class="flaticon-visibility"></span>
	    							</a>
	    						</div>
	    					</div>
	    					<div class="text p-4">
	    						<h2><a href="#" th:text="${book.BookName}"></a></h2>
	    						<span class="position">By John Nathan Muller</span>
	    					</div>
	    				</div>
	    			</div>

	    		</div>
	    	</div>
	    </section>		
		
		
	   	<footer th:replace="./Layout/userpanelfragment :: footer">
	    </footer>
	    <div th:replace="./Layout/userpanelfragment :: loader">
	    </div>			

     	<div th:replace="./Layout/userpanelfragment :: user-script">
	</body>
</html>