<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/managerfragment :: html_head (pageTitle='Authors')" >
				<meta charset="utf-8">
	
	</head>
	<body  class="hold-transition sidebar-mini layout-fixed">
 		<div class="wrapper" >
	 		<nav th:replace="./Layout/managerfragment :: topNavbar">
	 		</nav>
 			<aside th:replace="./Layout/managerfragment :: leftNavbar">
 			</aside>
			  <!-- Content Wrapper. Contains page content -->
			  <div class="content-wrapper">
			    <!-- Content Header (Page header) -->
			    <section class="content-header">
			      <div class="container-fluid">
			        <div class="row mb-2">
			          <div class="col-sm-6">
			            <h1>Yazar Ekle</h1>
			          </div>
			          <div class="col-sm-6">
			          </div>
			        </div>
			      </div><!-- /.container-fluid -->
			    </section>
			
			    <!-- Main content -->
			    <section class="content">
			      <div class="container-fluid">
			        <div class="row">
			          <!-- left column -->
			          <div class="col-md-9" style="margin-left: 10%;">
			            <!-- general form elements -->
			            <div class="card card-primary">

			              <!-- /.card-header -->
			              <!-- form start -->
			              <form role="form" action="#" id="authorForm" th:action="@{/manager/authorSave}" onsubmit="return validateAuthor()" th:object="${author}" method="post" enctype="multipart/form-data">
			                <div class="card-body">
			                
			                  <div class="form-group">
			                    <label for="exampleInputEmail1">Yazar Adı</label>
			                    <input type="text" th:field="*{AuthorName}" class="form-control" id="authorName" placeholder="Yazar Adı">
			                  </div>
			                	<div class="form-group">
			                    <label for="exampleInputEmail1">Yazar Soyadı</label>
			                    <input type="text" th:field="*{AuthorSurname}" class="form-control" id="authorSurname" placeholder="Yazar Soyadı">
			                  </div>

			                  <div class="form-group">
			                    <label for="exampleInputEmail1">Yazar İletişim</label>
			                    <input type="text" th:field="*{AuthorContact}" class="form-control" id="authorContact" placeholder="Yazar İletişim">
			                  </div>
			                  <div class="form-group">
			                    <label for="exampleInputFile">File input</label>
			                    <div class="input-group">
			                      <div class="custom-file">
			                        <input type="file" name="image" class="custom-file-input" id="authorImage" accept="image/png, image/jpeg">
			                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
			                      </div>
			                      <div class="input-group-append">
			                        <span class="input-group-text" id="">Upload</span>
			                      </div>
			                    </div>
			                  </div>
			                  <div class="form-group">
		                        <label>Yazar Açıklama</label>
		                        <textarea class="form-control" rows="3" placeholder="Yazar Açıklama" id="authorDefination" th:field="*{AuthorDefination}"></textarea>
		                   		</div>
			                </div>	
			                <!-- /.card-body -->
			
			                <div class="card-footer">
			                  <button type="submit" class="btn btn-primary">Kaydet</button>
			                </div>
			              </form>
			            </div>
			            <!-- /.card -->
			          </div>
			          <!--/.col (left) -->
			        </div>
			        <!-- /.row -->
			      </div><!-- /.container-fluid -->
			    </section>
			    <!-- /.content -->
			  </div>
			  <!-- /.content-wrapper -->
			<footer th:replace="./Layout/managerfragment :: footer">
			</footer>
 		</div>
		<div th:replace="./Layout/managerfragment :: managerPanelScript">
		</div>
		<script th:inline="javascript">
		function validateAuthor()
		{
			  var checkBayt=10485760;
			  var authorName = document.forms["authorForm"]["authorName"].value;
			  var authorSurname = document.forms["authorForm"]["authorSurname"].value;
			  var authorDefination = document.forms["authorForm"]["authorDefination"].value;
			  
			  var authorImage = document.getElementById('authorImage');
			  var authorImageValue =authorImage.value;
			  
			  if (authorName == "" || authorSurname == "" || authorDefination == "" || authorImageValue == "") {
				  	
				  	sweetAlert("Lütfen ilgili yerleri doldurunuz");
				    return false;
				  }
	            // Allowing file type 
            var allowedExtensions =  
                    /(\.jpg|\.jpeg|\.png|\.gif)$/i;
	              
	          if (!allowedExtensions.exec(authorImageValue)) 
	          { 
	        	 //alert(authorImage.files.length);
	        	 sweetAlert('Lütfen jpg, jpeg, png formatlarını tercih edin'); 
	             return false; 
	          }
	          
	          if(authorImage.files[0].size> checkBayt)
	        	  {
		        	 sweetAlert('Lütfen 10MB büyük dosya seçmeyiniz'); 
					 return false;
	        	  }
	          
		}
		function sweetAlert(message)
		{
			Swal.fire({
				  icon: 'error',
				  title: 'Hata...',
				  text: message,
				})
		}
		</script>
	</body>
</html>
