<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head  th:replace="./Layout/managerfragment :: html_head (pageTitle='Manager')" >
				<meta charset="utf-8">
	</head>
	<body  class="hold-transition sidebar-mini">
 		<div class="wrapper" >
	 		<nav th:replace="./Layout/managerfragment :: topNavbar">
	 		</nav>
 			<aside th:replace="./Layout/managerfragment :: leftNavbar">
 			</aside>
			  <!-- Content Wrapper. Contains page content -->
			  <div class="content-wrapper">
			    <!-- Content Header (Page header) -->
			    <section class="content-header">
			      <div class="container-fluid">
			        <div class="row mb-2">
			          <div class="col-sm-6">
			            <h1>Yorumlar</h1>
			          </div>
			        </div>
			      </div><!-- /.container-fluid -->
			    </section>
			
			    <!-- Main content -->
			    <section class="content">
			      <div class="container-fluid">
			        <div class="row">
			          <div class="col-12">
							<div class="row">
							    <div class="col-md-3 d-flex">
									<button type="button" onclick="DisplayTable()" class="btn btn-secondary btn-lg btn-block">Tamamlanmış Takaslar</button>
							    </div>
							    <div class="col-md-3 d-flex">
									<button type="button" onclick="DisplayTable('request')" class="btn btn-secondary btn-lg btn-block">Takas İsteklerim</button>
							    </div>
							    <div class="col-md-3 d-flex">
							    	<button type="button" onclick="DisplayTable('received')" class="btn btn-secondary btn-lg btn-block">Gelen Takaslar</button>
							    </div>								    
							    <div class="col-md-3 d-flex">
							    	<button type="button" onclick="DisplayTable('reject')" class="btn btn-secondary btn-lg btn-block">Reddedilmiş Takaslar</button>
							    </div>	
						    </div>
			            <div class="card">
			              <div class="card-header">
			              </div>
			              <!-- /.card-header -->
			              <div class="card-body">
			                <table id="example1" class="table table-bordered table-striped">
			                  <thead>
			                  <tr>
			                    <th sec:authorize="hasAnyAuthority('ADMIN')">User Id</th>
			                    <th sec:authorize="hasAnyAuthority('ADMIN')">BookId</th>
			                    <th sec:authorize="hasAnyAuthority('ADMIN')">PublisherId</th>
			                    <th sec:authorize="hasAnyAuthority('ADMIN')">AuthorId</th>
			                    <th sec:authorize="hasAnyAuthority('ADMIN')">UserBookId</th>
			                    <th sec:authorize="hasAnyAuthority('ADMIN')">CommentId</th>
			                    <th>UserEmail</th>
			                    <th>AdminCheck</th>
			                    <th>CommentDetails</th>
			                    <th></th>	                    
			                  </tr>
			                  </thead>
			                  <tbody>
			                  <tr th:each="bookComment : ${bookComments}">
			                    <td th:text="${bookComment.UserId}" sec:authorize="hasAnyAuthority('ADMIN')"></td>
			                    <td th:text="${bookComment.BookId}" sec:authorize="hasAnyAuthority('ADMIN')"></td>
			                    <td th:text="${bookComment.PublisherId}" sec:authorize="hasAnyAuthority('ADMIN')"></td>
			                    <td th:text="${bookComment.AuthorId}" sec:authorize="hasAnyAuthority('ADMIN')"></td>
			                    <td th:text="${bookComment.UserBookId}" sec:authorize="hasAnyAuthority('ADMIN')"></td>
			                    <td th:text="${bookComment.CommentId}" sec:authorize="hasAnyAuthority('ADMIN')"></td>
			                    <td th:text="${bookComment.UserEmail}"></td>
			                    <td th:text="${bookComment.AdminCheck}"></td>
			                    <td th:text="${bookComment.CommentDetails}"></td>
			                    <td sec:authorize="hasAnyAuthority('ADMIN')">
									<a th:href="@{'/manager/commentDelete/' + ${bookComment.CommentId}}" class="btn btn-block btn-danger btn-sm">Sil</a>                 
			                    </td>
			                  </tr>
			                  </tbody>
			                </table>
			              </div>
			              <!-- /.card-body -->
			            </div>
			            <!-- /.card -->
			          </div>
			          <!-- /.col -->
			        </div>
			        <!-- /.row -->
			      </div>
			      <!-- /.container-fluid -->
			    </section>
			    <!-- /.content -->
			  </div>
			  <!-- /.content-wrapper -->
			<footer th:replace="./Layout/managerfragment :: footer">
			</footer>
 		</div>
	</body>
	<div th:replace="./Layout/managerfragment :: managerPanelScript">
	</div>
</html>