<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/managerfragment :: html_head (pageTitle='Authors')" >
				<meta charset="utf-8">
	
	</head>
	<body  class="hold-transition sidebar-mini layout-fixed">
 		<div class="wrapper" >
	 		<nav th:replace="./Layout/managerfragment :: topNavbar">
	 		</nav>
 			<aside th:replace="./Layout/managerfragment :: leftNavbar">
 			</aside>
			  <!-- Content Wrapper. Contains page content -->
			  <div class="content-wrapper">
			    <!-- Content Header (Page header) -->
			    <section class="content-header">
			      <div class="container-fluid">
			        <div class="row mb-2">
			          <div class="col-sm-6">
			            <h1>Kullanıcı Ekle</h1>
			          </div>
			          <div class="col-sm-6">
			          </div>
			        </div>
			      </div><!-- /.container-fluid -->
			    </section>
			
			    <!-- Main content -->
			    <section class="content">
			      <div class="container-fluid">
			        <div class="row">
			          <!-- left column -->
			          <div class="col-md-9" style="margin-left: 10%;">
			            <!-- general form elements -->
			            <div class="card card-primary">

			              <!-- /.card-header -->
			              <!-- form start -->
			              <form role="form" action="#" id="authorForm" th:action="@{/manager/userSave}"  th:object="${user}" method="post" >
			                <div class="card-body">
			                
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Kullanıcı Adı</label>
				                    <input type="text" th:field="*{UserName}" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				                  </div>
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Kullanıcı Soyadı</label>
				                    <input type="text" th:field="*{UserSurname}" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				                  </div>			                    
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Kullanıcı Email</label>
				                    <input type="text" th:field="*{UserEmail}" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				                  </div>
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Kullanıcı Kayıt Tarihi</label>
				                    <input type="text" th:field="*{UserRegisterDate}" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				                  </div>
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Kullanıcı Yetki</label>
				                    <input type="text" th:field="*{UserPermission}" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				                  </div>
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Kullanıcı Şifre</label>
				                    <input type="text" th:field="*{UserPassword}" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				                  </div>	
			                </div>	
			                <!-- /.card-body -->
			
			                <div class="card-footer">
			                  <button type="submit" class="btn btn-primary">Kaydet</button>
			                </div>
			              </form>
			            </div>
			            <!-- /.card -->
			          </div>
			          <!--/.col (left) -->
			        </div>
			        <!-- /.row -->
			      </div><!-- /.container-fluid -->
			    </section>
			    <!-- /.content -->
			  </div>
			  <!-- /.content-wrapper -->
			<footer th:replace="./Layout/managerfragment :: footer">
			</footer>
 		</div>
		<div th:replace="./Layout/managerfragment :: managerPanelScript">
		</div>
	</body>
</html>
