<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/libraryfragment :: html_head (pageTitle='Authors')" />
	<body>
		<div th:replace="./Layout/libraryfragment :: menu">
		</div>
        <form action="#" th:action="@{/authors/save}" th:object="${author}"
            method="post">
            
 			<input type="hidden" th:field="*{AuthorId}" />
 			
            <table border="0" cellpadding="10"> 
                <tr>             
                    <td>AuthorName:</td>
                    <td>
                        <input type="text" th:field="*{AuthorName}" />
                    </td>
                </tr>
                <tr>
                    <td>AuthorSurname:</td>
                    <td><input type="text" th:field="*{AuthorSurname}" /></td>
                </tr>     
                <tr>
                    <td>AuthorContact:</td>
                    <td><input type="text" th:field="*{AuthorContact}" /></td>
                </tr>     
                <tr>
                    <td>AuthorDefination:</td>
                    <td><input type="text" th:field="*{AuthorDefination}" /></td>
                </tr>                     
                           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
		<div th:replace="./Layout/libraryfragment :: footer">
		</div>		  
	</body>
</html>