<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="./Layout/userpanelfragment :: html_head (pageTitle='Yazarlar')" />
	<body>
		<div th:replace="./Layout/userpanelfragment :: top-side">		
		</div>
		<div th:replace="./Layout/userpanelfragment :: navbar">		
		</div>
		
		<!-- AUTHOR INDEX PAGE-->
		<div class="col-md-12 heading-section text-center ftco-animate">
	    	<h2>Yazarlar</h2>
	    </div>
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate" th:each="author : ${listAuthors}">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" th:style="'background-image:url('+ @{${author.AuthorsPhotosImagePath}} +');'"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<h3 th:text="${author.AuthorName}" ></h3>
								<div class="faded">
									<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
									<a th:href="@{'/authors/details/' + ${author.AuthorId}}" class="btn btn-primary">View All Books</a>
									<ul class="ftco-social text-center">
						                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
						                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
						                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
						                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
		              				</ul>
	              				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>			
	    
		<!-- END -->
		<!--AUTHOR INDEX PAGE-->
		
	   	<footer th:replace="./Layout/userpanelfragment :: footer">
	    </footer>
	    <div th:replace="./Layout/userpanelfragment :: loader">
	    </div>			

     	<div th:replace="./Layout/userpanelfragment :: user-script">
     	</div>

	</body>
</html>
